<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}

    <body>
        
        {{ template "topbar" }}

        <div class="">
            <div class="relative h-[92.3vh] w-full overflow-hidden outline outline-1">
                <img src="/resource/hero3.png" class="brightness-95" alt="hero image" />
                <div class="absolute left-[50%] top-[60%] flex translate-x-[-50%] justify-center">
                    <div class="animate-bounce rounded py-1 shadow-lg shadow-black outline outline-4 outline-white">
                        <a href="/story" class="rounded bg-blue-600 px-3 py-2 text-xl font-bold tracking-wider text-white hover:bg-yellow-500 hover:text-black">Start Reading</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
