<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}

    <body>

        {{ template "topbar" }}

        <div class="mx-auto max-w-2xl p-2">
            <a 
                href="#" 
                onclick="javascript:window.history.back(-1);return false;" 
                class="rounded-sm bg-blue-300 px-2 py-1"
                >back</a>

            <div class="my-4 text-center">
                <h1 class="font-bold uppercase">{{ .story.Title }}</h1>
                <p class="font-light">{{ .story.Author }}</p>
            </div>
            <div class="flex justify-center">
                <audio
                    controls
                    controlsList="nodownload"
                    src="{{ .story.Audio }}"
                    ></audio>
            </div>
            <div class="my-4 rounded-md bg-gray-100 p-4 text-justify">
                <p>{{ .story.Content }}</p>
            </div>

            <div class="">
                <h1 class="mt-10 text-center font-bold">Practice Words</h1>

                <div class="my-4 rounded bg-white p-4">
                    {{ if not .story.Words }}
                    <h2 class="text-center">No dedicated words for this story</h2>
                    {{ end }}

                    {{ range .story.Words }}
                    <div  class="mb-8 text-center">
                        <p class="">{{ .Word }}</p>
                        <div class="flex justify-center">
                            <audio
                                controls
                                controlsList="nodownload"
                                src="{{ .Location }}"
                                ></audio>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>
