<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}

    <body>

        {{ template "topbar" }}

        <div class="py-8">
            <div class="flex flex-wrap justify-center gap-4">

                {{ if not .stories }}
                <p class="mt-20">No stories available</p>
                {{ end }}

                {{ range .stories }}
                <div class="w-40 rounded bg-white p-1 outline outline-1 outline-gray-300 hover:shadow-lg">
                    <a href="/story/{{ .Id }}" class="">
                        <div class="">
                            <img
                            class="h-48 w-40 rounded object-cover"
                            src="{{ .Image }}"
                            alt="thumbnail"
                            />
                        </div>
                        <div class="my-2 text-center">
                            <p>{{ .Title }}</p>
                        </div>
                    </a>
                </div>
                {{ end }}

            </div>
        </div>
    </body>
</html>
